{% extends '../layout.twig' %}

{% block body %}
  <nav>
    <a href="/tinder/create">Form</a>
  </nav>
  <h1>Helpers</h1>
  <p>These people can help you</p>
  <ul>
  {% for helper in helpers %}
    <li>{{ helper.user }} <a href="/tinder/update/{{ helper._id }}/">Update</a> <a href="/tinder/delete/{{ helper._id }}/">Delete</a></li>
  {% endfor %}
  </ul>
{% endblock %}
