{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <form method="post" action="">
    <input type="text" name="user"/>
    <input type="checkbox" name="give"/>
    <input type="submit" value="Submit"/>
  </form>
{% endblock %}
